
<div class='formHeading'>
 <h2><%= t('resend_confirmation.title') %></h2>
</div>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'simple_form standardLight' }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-inputs">
	  <div class="input email required user_email">
	    <%= f.label :email, class: 'email required control-label' %>
	    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'string email required' %>
	  </div>
  </div>

  <div class="form-actions actions spacedTop">
    <%= f.submit t('resend_confirmation.button'), class: 'btn button buttonYellow middle mobileFullWidth' %>
  </div>
<% end %>