<div class='sidebar'>
  <div id="docsMenu" class="docsAccordionMenu">
    <ul>
      <li class=active><a href="/docs/introduction"><%= t('documentation.introduction.title') %></a></li>
      <li ><a href="/docs/overview_of_payment_processing"><%= t('documentation.overview_payment_process.title') %></a></li>
      <li ><a href="/docs/creating_a_new_gateway"><%= t('documentation.create_gateway.title') %></a></li>
      <li ><span class='folder'><%= t('documentation.api.title') %><i class='fa faAngleDown'></i></span>
        <ul>
          <li><a href="/docs/api/signed_request"><%= t('documentation.api.signed_request.title') %></a></li>
          <li ><a href="/docs/api/creating_orders"><%= t('documentation.api.create_orders.title') %></a></li>
          <li ><a href="/docs/api/receiving_order_status_change_callback"><%= t('documentation.api.receive_order_callback.title') %></a></li>
          <li ><a href="/docs/api/checking_order_status_manually"><%= t('documentation.api.check_order_status.title') %></a></li>
          <li ><a href="/docs/api/order_websocket"><%= t('documentation.api.order_websocket.title') %></a></li>
          <li ><a href="/docs/api/order_cancellation"><%= t('documentation.api.order_cancel.title') %></a></li>
          <li ><a href="/docs/api/receiving_last_keychain_id_for_gateway"><%= t('documentation.api.receive_last_keychain.title') %></a></li>
        </ul>
      </li>
      <li >
        <span class='folder'><%= t('documentation.developer_api.title') %><i class='fa faAngleDown'></i></span>
        <ul>
          <li ><a href="/docs/developers_api/basic"><%= t('documentation.developer_api.basic.title') %></a></li>
          <li ><a href="/docs/developers_api/gateways"><%= t('documentation.developer_api.gateway.title') %></a></li>
          <li ><span class='folder'><%= t('documentation.developer_api.address_providers.title') %><i class='fa faAngleDown'></i></span>
          <ul>
            <li ><a href="/docs/developers_api/addressproviders/list"><%= t('documentation.developer_api.address_providers.list.title') %></a></li>
            <li ><span class='folder'><%= t('documentation.developer_api.address_providers.cashila.title') %><i class='fa faAngleDown'></i></span>
              <ul>
                <li ><a href="/docs/developers_api/addressproviders/cashila/login"><%= t('documentation.developer_api.address_providers.cashila.login.title') %></a></li>
                <li ><a href="/docs/developers_api/addressproviders/cashila/withdraw"><%= t('documentation.developer_api.address_providers.cashila.withdraw.title') %></a></li>
                <li ><span class='folder'><%= t('documentation.developer_api.address_providers.cashila.legal_entity.title') %><i class='fa faAngleDown'></i></span>
                  <ul>
                    <li ><a href="/docs/developers_api/addressproviders/cashila/legalentity/create_legalentity"><%= t('documentation.developer_api.address_providers.cashila.legal_entity.create.title') %></a></li>
                    <li ><a href="/docs/developers_api/addressproviders/cashila/legalentity/get"><%= t('documentation.developer_api.address_providers.cashila.legal_entity.get.title') %></a></li>
                    <li ><a href="/docs/developers_api/addressproviders/cashila/legalentity/update_legalentity"><%= t('documentation.developer_api.address_providers.cashila.legal_entity.update.title') %></a></li>
                  </ul>
                </li>
                <li><span class='folder'><%= t('documentation.developer_api.address_providers.cashila.individual_entity.title') %><i class='fa faAngleDown'></i></span>
                  <ul>
                    <li ><a href="/docs/developers_api/addressproviders/cashila/individualentity/create_individualentity"><%= t('documentation.developer_api.address_providers.cashila.individual_entity.create.title') %></a></li>
                    <li ><a href="/docs/developers_api/addressproviders/cashila/individualentity/get"><%= t('documentation.developer_api.address_providers.cashila.individual_entity.get.title') %></a></li>
                    <li ><a href="/docs/developers_api/addressproviders/cashila/individualentity/update_individualentity"><%= t('documentation.developer_api.address_providers.cashila.individual_entity.update.title') %></a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
     </li>
    </ul>
  </div>
</div>