<div class="leftSidebar" style="height: 987px;">
  <div class="background"></div>
  <div class="container">
    <div class="logo"><a href="/">
        <%= image_tag 'logo.jpg', alt: "bitcoin logo", class: 'logo' %>
    </a></div>
    <menu>
      <ul class="menu">
<!--         <li class="current">
          <a href="/gateways?widget=1">WIDGETS</a>
          <div class="linkIcon"><span class="icon-widgets"></span></div>
        </li> -->
        <li>
          <a href="<%= admin_orders_path %>"><%= t('orders') %></a>
          <div class="linkIcon"><span class="icon-orders"></span></div>
        </li>
        <li>
          <a href="<%= admin_withdrawals_path %>"><%= t('withdrawals') %></a>
          <div class="linkIcon"><span class="icon-orders"></span></div>
        </li>
        <li>
          <a href="<%= admin_gateways_path %>"><%= t('gateways') %></a>
          <div class="linkIcon"><span class="icon-gateways"></span></div>
        </li>
<!--         <li>
          <a href="/fiat_payouts">FIAT PAYOUTS</a>
          <div class="linkIcon"><span class="icon-fiat_payouts"></span></div>
        </li> -->
<!--         <li>
          <a href="/joint-escrow">JOINT ESCROW</a>
          <div class="linkIcon"><span class="icon-joint_escrow"></span></div>
        </li> -->
        <li>
          <a href="<%= edit_admin_user_path(current_user.id) %>"><%= t('account') %></a>
          <div class="linkIcon"><span class="icon-account"></span></div>
        </li>
        <li>
          <a href="<%= docs_path %>"><%= t('documentation.title') %></a>
          <div class="linkIcon"><span class="icon-documentation"></span></div>
        </li>
<!--         <li>
          <a href="/updates">UPDATES</a>
          <div class="linkIcon"><span class="icon-updates"></span></div>
        </li> -->
      </ul>
    </menu>
    <div class="container lang"></div>
  </div>
</div>