<% provide(:title, "Gateways")%>

<div class='contentHeader marginSmall'>
	<h1 class='pageTitle'><%= t('gateways') %></h1>
	<div class='actions right'>
		<a class="button withLoader" href="<%= new_admin_gateway_path %>"><span>
			<%= t('gateway.create_gateway') %>
		</span>
		<div class='loaderContainer'>
			<div class='loader'></div>
		</div>
	</a></div>
</div>
<div class='actions tile tiny'>
	<div class='filters'>
		<div class='pageWrapper'>
			<div class='pure-g'>
				<div class='pure-u-1-3'>
					<div class='columnContainer chosenSizeLarge'>
						<label><%= t('gateway.network') %></label>
						<div class='chosenStandardWhite chosenSmallFont'>
							<%= select_tag 'test_mode', options_for_select([[t('gateway.mainnet'), false], [t('gateway.testnet'), true]].unshift([t('show_all'), ''])) %>
						</div>
						</div>
					</div>
					<div class='pure-u-1-3'>
						<div class='columnContainer chosenSizeLarge'>
							<label><%= t('status') %></label>
							<div class='chosenStandardWhite chosenSmallFont'>
									<%= select_tag 'active', options_for_select([[t('gateway.active'), true], [t('gateway.inactive'), false]].unshift([t('show_all'), ''])) %>
								</div>
							</div>
						</div>
						<div class='pure-u-1-3'>
							<div class='columnContainer chosenSizeLarge'>
								<label><%= Gateway.human_attribute_name(:default_currency) %></label>
								<div class='chosenStandardWhite chosenSmallFont'>
									<%= select_tag 'default_currency', options_for_select(Gateway::SUPPORT_CURRENCIES.map{|k| [t("activerecord.attributes.gateway.enum.default_currency.#{k}"), k]}) %>
								</div>
							</div>
							</div> 
						</div>
					</div>
				</div>
			</div>
			<div class='list tile data clearfix'>
				<table class='standardWhite'>
					<colgroup>
					<col span='1' style='width: 20%;'>
					<col span='1' style='width: 10%;'>
					<col span='1' style='width: 10%;'>
					<col span='1' style='width: 40%;'>
					<col span='1' style='width: 18%;'>
				</colgroup>
				<thead>
					<th><%= Gateway.human_attribute_name(:name) %></th>
					<th><%= Gateway.human_attribute_name(:active) %></th>
					<th><%= Gateway.human_attribute_name(:test_mode) %></th>
					<th><%= t('gateway.bip32_pubkey') %></th>
					<th><%= Gateway.human_attribute_name(:default_currency) %></th>
				</thead>
				<tbody>
					<% if @gateways.blank? %>
						<tr class="noRecords">
							<td colspan="5">
								<span>
									No matching record found
								</span>
							</td>
						</tr>
					<% else %>
						<% @gateways.each do |gateway| %>
							<tr>
								<td><%= gateway.name %></td>
								<td><%= gateway.active %></td>
								<td><%= gateway.test_mode ? "Testnet" : "Mainnet" %></td>
								<td><%= gateway.test_mode ? gateway.test_pubkey : gateway.pubkey %></td>
								<td><%= gateway.default_currency %></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
		<%= paginate @gateways %>
		<%= render 'share/export_bar', export_obj: 'gateways' %>
	</div>
</div>
