<% provide(:title, t('gateway.create_gateway')) %>

<div class='page gateways new'>
	<div class='contentHeader'>
		<h1><%= t('gateway.create_gateway') %></h1>
	</div>

    <%= form_for [:admin, @gateway], class: 'simple_form' do |f| %>
		<div class='formWrapper'>
			<div class="input string required gateway_name field_with_hint">
				<label class="string required control-label" for="gateway_name">
					<abbr title="required">*</abbr> <%= Gateway.human_attribute_name(:name) %>
				</label>
				<%= f.text_field :name, class: "string required" %>
				<span class="hint"><%= t('new_gateway.explain.name') %></span>
			</div>

			<div class="input checkbox_with_hint optional gateway_allow_links">
				<label><%= Gateway.human_attribute_name(:allow_links) %></label><div class="formControl checkbox">
				<%= f.check_box :allow_links %>
				<label class="hint" for="gateway_allow_links">
					<span><%= t('new_gateway.explain.allow_link') %></span>
				</label>
			</div>

			<div class="input select required gateway_confirmations_required field_with_hint">
				<label class="select required control-label" for="gateway_confirmations_required">
					<abbr title="required">*</abbr> <%= Gateway.human_attribute_name(:confirmations_required) %>
				</label>

			    <%= f.select :confirmations_required, options_for_select(%w(0 1 2 3 4 5 6)), class: "select required"%>
				<span class="hint"><%= t('new_gateway.explain.confirmations_required') %></span>
			</div>

			<div class="input string optional gateway_callback_url field_with_hint">
				<label class="string optional control-label" for="gateway_callback_url"><%= Gateway.human_attribute_name(:callback_url) %></label>
				<%= f.text_field :callback_url, class: "string optional" %>
				<span class="hint"><%= t('new_gateway.explain.callback_url') %></span>
			</div>

			<div class="input integer required gateway_orders_expiration_period field_with_hint">
				<label class="integer required control-label" for="gateway_orders_expiration_period">
					<abbr title="required">*</abbr><%= Gateway.human_attribute_name(:orders_expiration_period) %>
				</label>
				<%= f.text_field :orders_expiration_period, class: "numeric integer required" %>
				<span class="hint"><%= t('new_gateway.explain.orders_expiration_period') %></span>
			</div>
				
			<div class="input string optional gateway_after_payment_redirect_to field_with_hint">
				<label class="string optional control-label" for="gateway_after_payment_redirect_to">
					<%= Gateway.human_attribute_name(:after_payment_redirect_to) %>
				</label>
				<%= f.text_field :after_payment_redirect_to, class: "string optional" %>
				<span class="hint"><%= t('new_gateway.explain.after_payment_redirect_to') %></span>
			</div>

			<div class="input string optional gateway_back_url field_with_hint">
				<label class="string optional control-label" for="gateway_back_url"><%= Gateway.human_attribute_name(:back_url) %></label>
				<%= f.text_field :back_url, class: "string optional" %>
				<span class="hint"><%= t('new_gateway.explain.back_url') %></span>
			</div>

<!-- 			<div class="input string optional gateway_custom_css_url field_with_hint">
				<label class="string optional control-label" for="gateway_custom_css_url"><%#= Gateway.human_attribute_name(:custom_css_url) %></label>
				<input class="string optional" type="text" name="gateway[custom_css_url]" id="gateway_custom_css_url" />
				<span class="hint"><%#= t('new_gateway.explain.custom_css_url') %></span>
			</div> -->

			<div class="input checkbox_with_hint optional gateway_auto_redirect">
				<label><%= Gateway.human_attribute_name(:auto_redirect) %></label>
				<div class="formControl checkbox">
					<%= f.check_box :auto_redirect %>
					<label class="hint" for="gateway_auto_redirect">
						<span><%= t('new_gateway.explain.auto_redirect') %></span>
					</label>
				</div>
			</div>
	
			<div class="input checkbox_with_hint optional gateway_active">
				<label><%= Gateway.human_attribute_name(:active) %></label>
				<div class="formControl checkbox">
					<%= f.check_box :active %>
					<label class="hint" for="gateway_active">
						<span><%= t('new_gateway.explain.active') %></span>
					</label>
				</div>
			</div>

			<div class="input checkbox_with_hint optional gateway_donation_mode">
				<label><%= Gateway.human_attribute_name(:donation_mode) %></label>
				<div class="formControl checkbox">
					<%= f.check_box :donation_mode %>
					<label class="hint" for="gateway_donation_mode"><span><%= t('new_gateway.explain.donation_mode') %></span></label>
				</div>
			</div>
		</div>

		<div class='formBlock'>
			<div class='formWrapper'>
				<h3><%= t('new_gateway.currency_conversion_options.title') %></h3>
				<div class="input select required gateway_default_currency field_with_hint">
					<label class="select required control-label" for="gateway_default_currency"><abbr title="required">*</abbr>
						<%= Gateway.human_attribute_name(:default_currency) %>
					</label>
					<%= f.select :default_currency, options_for_select(Gateway::SUPPORT_CURRENCIES.map{|k| [t("activerecord.attributes.gateway.enum.default_currency.#{k}"), k]}), class: 'select required'%> 
					<span class="hint"><%= t('new_gateway.explain.default_currency') %></span>
				</div>

				<div class="input select optional gateway_convert_currency_to field_with_hint chosenSizeMedium">
					<label class="select optional control-label" for="gateway_convert_currency_to"><abbr title="required">*</abbr>
						<%= t('new_gateway.currency_conversion_options.convert_payment') %>
					</label>
					<%= f.select :convert_currency_to, options_for_select(Gateway::BTC_UNITS), class: 'select required' %>
				</div>

				<div class='input'>
					<label>
					  <%= Gateway.human_attribute_name(:exchange_rate_adapter_names) %> #1:
					</label>
					<%= f.select :exchange_rate_adapter_name_1, options_for_select(@providers) %>
				</div>

			    <div class='input'>
					<label>
						<%= Gateway.human_attribute_name(:exchange_rate_adapter_names) %> #2:
					</label>
					<%= f.select :exchange_rate_adapter_name_2, options_for_select(@providers) %>
				</div>

				<div class='input'>
					<label>
						<%= Gateway.human_attribute_name(:exchange_rate_adapter_names) %> #3:
					</label>
					<%= f.select :exchange_rate_adapter_name_3, options_for_select(@providers) %>
					</div>
					<span class='hint'><%= t('new_gateway.explain.exchange_rate_adapter') %>
					</span>
					<div class="input hidden gateway_exchange_rate_adapter_names"><input class="hidden" type="hidden" value="Bitstamp Btce Kraken" name="gateway[exchange_rate_adapter_names]" id="gateway_exchange_rate_adapter_names" /></div>
				</div>
			</div>

			<div class='formBlock btc-only-fields'>
				<div class='formWrapper'>
					<h3><%= t('gateway.bip32_pubkey') %></h3>
					<div class="input string optional gateway_pubkey field_with_hint">
						<label class="string optional control-label" for="gateway_pubkey">
							<abbr title="required">*</abbr><%= t('gateway.bip32_pubkey') %>
					    </label>
						<%= f.text_field :pubkey, class: "string required" %>
						<span class="hint"><%= t('new_gateway.explain.bip32') %></span>
					</div>
					<p class='moreFieldInfo'>
						<img class="inlineIcon" src="https://dwsv3vn9of50v.cloudfront.net/assets/watch_icon-deb4f3e6da40cd36f217cac4dd3da46077616ff264f0c648749c931edc9ae141.png" alt="Watch icon deb4f3e6da40cd36f217cac4dd3da46077616ff264f0c648749c931edc9ae141" />
						<span>
							 <%= t('new_gateway.explain.watch_video.part1') %><a href="/gateways/new"><a target="_blank" href="https://www.youtube.com/watch?v=2E0cwY_M2D4"><%= t('new_gateway.explain.watch_video.part2') %></a></a> or <a target="_blank" href="https://www.youtube.com/watch?v=-CN_I8vfEL4"><%= t('new_gateway.explain.watch_video.part3') %></a>
						</span>
						<br>
					</p>
					<div class="input select optional gateway_address_derivation_scheme field_with_hint">
						<label class="select optional control-label" for="gateway_address_derivation_scheme"><%= t('new_gateway.pick_wallet_title')%></label>
						<select class="select optional" name="gateway[address_derivation_scheme]" id="gateway_address_derivation_scheme">
							<option value=""></option>
							<option selected="selected" value="m/0/n">m/0/n - Mycelium wallet Android, Electrum, myTREZOR</option>
							<option value="n">n — Mycelium wallet iOS</option>
						</select>
						<span class="hint"><%= t('new_gateway.explain.pick_wallet') %></span>
					</div>
				</div>
			</div>

			<div class='formBlock btc-only-fields'>
				<div class='formWrapper'>
					<h3><%= t('new_gateway.testnet_settings.title') %></h3>
					<div class="input string optional gateway_test_pubkey field_with_hint">
						<label class="string optional control-label" for="gateway_test_pubkey"><%= t('new_gateway.testnet_settings.sub_title') %></label>
						<input class="string optional" placeholder="tpubxxx" type="text" name="gateway[test_pubkey]" id="gateway_test_pubkey" />
						<span class="hint"><%= t('new_gateway.explain.test_pubkey') %></span>
					</div>
					<div class="input checkbox_with_hint optional gateway_test_mode">
						<label><%= Gateway.human_attribute_name(:test_mode) %></label>
						<div class="formControl checkbox">
							<%= f.check_box :test_mode %>
							<label class="hint" for="gateway_test_mode">
								<span><%= t('new_gateway.explain.test_mode') %></span>
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class='formBlock clear noVerticalPadding'>
				<div class='formWrapper'>
					<div class="input checkbox_with_hint optional gateway_receive_payments_notifications">
					<label><%= Gateway.human_attribute_name(:receive_payments_notifications) %></label>
					<div class="formControl checkbox">
						<%= f.check_box :receive_payments_notifications %>
						<label class="hint" for="gateway_receive_payments_notifications">
							<span><%= t('new_gateway.explain.receive_payments_notifications') %></span>
						</label>
					</div>
				</div>
			</div>

			<div class='formBlock accordion'>
				<div class='formBlockHeader accordionToggle'>
					<h3>
						<%= t('new_gateway.additional_info.title.part1') %>
						<span class='description'>(<%= t('new_gateway.additional_info.title.part2') %>)</span>
					</h3>
					<div class='accordionToggleButton'></div>
				</div>
				<div class='formWrapper'>
					<div class='accordionContent'>
						<div class="input text optional gateway_description">
							<label class="text optional control-label" for="gateway_description"><%= t('new_gateway.additional_info.description') %></label>
							<textarea class="text optional" name="gateway[description]" id="gateway_description"></textarea>
						</div>
						<div class="input string optional gateway_merchant_url field_with_hint">
						<label class="string optional control-label" for="gateway_merchant_url"><%= t('new_gateway.additional_info.website_url') %></label>
						<input class="string optional" type="text" name="gateway[merchant_url]" id="gateway_merchant_url" />
						<span class="hint"><%= t('new_gateway.explain.website_url') %></span>
					</div>
					<div class='chosenSizeLarge'>
						<div class="input country optional gateway_country">
							<label class="country optional control-label" for="gateway_country"><%= t('new_gateway.additional_info.country') %></label>
							<%= f.select :country, options_for_select(Gateway::SUPPORT_COUNTRIES.map{|k| [t("activerecord.attributes.gateway.enum.country.#{k}"), k]}.unshift([t('show_all'), '']))%>
						</div>
					</div>
					<div class="input string optional gateway_region">
						<label class="string optional control-label" for="gateway_region"><%= t('new_gateway.additional_info.region') %></label>
						<input class="string optional" type="text" name="gateway[region]" id="gateway_region" />
					</div>
					<div class="input string optional gateway_city">
						<label class="string optional control-label" for="gateway_city"><%= t('new_gateway.additional_info.city') %></label>
						<input class="string optional" type="text" name="gateway[city]" id="gateway_city" />
					</div>
				</div>
				</div>
			</div>
			</div>
			</div>
			<div class='actions spacedTop'>
				<button type="submit" class="btn button">
					<span><%= t('gateway.create_gateway') %></span>
					<div class="loaderContainer">
						<div class="loader"></div>
					</div>
				</button>
			</div>
	<% end %>
</div>
