<div class='pure-u-1-1'>
  <p><%= t("documentation.developer_api.basic.paragraph1") %></p>
  <p><%= t("documentation.developer_api.basic.paragraph2") %></p>
<div class="highlight"><pre><span class="vg">Accept</span><span class="o">-</span><span class="nl">Version:</span><span class="w"> </span><span class="vg">v1</span>
</pre></div>
  <p><%= t("documentation.developer_api.basic.paragraph3") %></p>


<h2><%= t("documentation.developer_api.basic.paragraph_title1") %></h2>

<p><%= t("documentation.developer_api.basic.paragraph4") %><a href="/docs/api/signed_request"><%= t("documentation.developer_api.basic.paragraph4_a") %></a>.</p>

<p><%= t("documentation.developer_api.basic.paragraph5") %>/p>

<h2><%= t("documentation.developer_api.basic.paragraph_title2") %></h2>

<p><%= t("documentation.developer_api.basic.paragraph6") %></p>
<div class="highlight"><pre><span class="p">{</span>
  <span class="nt">&quot;errors&quot;</span><span class="p">:</span> <span class="p">[{</span>
    <span class="nt">&quot;source&quot;</span><span class="p">:</span> <span class="s2">&quot;request&quot;</span><span class="p">,</span>
    <span class="nt">&quot;title&quot;</span><span class="p">:</span> <span class="s2">&quot;There was a problem in JSON you submitted&quot;</span>
  <span class="p">}]</span>
<span class="p">}</span>
</pre></div>
<p><%= t("documentation.developer_api.basic.paragraph7") %></p>
<div class="highlight"><pre><span class="p">{</span>
  <span class="nt">&quot;errors&quot;</span><span class="p">:</span> <span class="p">[</span>
    <span class="p">{</span>
      <span class="nt">&quot;source&quot;</span><span class="p">:</span> <span class="s2">&quot;name&quot;</span><span class="p">,</span>
      <span class="nt">&quot;title&quot;</span><span class="p">:</span> <span class="s2">&quot;can&#39;t be blank&quot;</span>
    <span class="p">},</span>
    <span class="p">{</span>
      <span class="nt">&quot;source&quot;</span><span class="p">:</span> <span class="s2">&quot;pubkey&quot;</span><span class="p">,</span>
      <span class="nt">&quot;title&quot;</span><span class="p">:</span> <span class="s2">&quot;doesn&#39;t look like a BIP32 pubkey&quot;</span>
    <span class="p">}</span>
  <span class="p">]</span>
<span class="p">}</span>
</pre></div>
</div>