<% provide(:title, t('orders'))%>

<div class="contentHeader marginSmall">
	<h1 class="pageTitle"><%= t('orders')%></h1>
</div>
<div class="actions tile tiny">
	<div class="filters">
		<div class="pageWrapper">
			<div class="pure-g">
				<div class="pure-u-1-2">
					<div class="columnContainer chosenSizeLarge">
						<label><%= Order.human_attribute_name(:status) %></label>
						<div class="chosenStandardWhite chosenSmallFont">
							<%= select_tag "filter_by_status", options_for_select(Order.statuses.map{|k,v| [I18n.t("activerecord.attributes.order.enum.status.#{k}"), v]}, params[:statuses]&.split(',')), multiple: "multiple", 'data-placeholder' => t('show_all') %>
							<div class="chosen-container chosen-container-multi" style="width: 161px;" title="" id="filter_by_status_chosen">
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="list tile data clearfix">
		<table class="standardWhite">
			<colgroup>
				<col span="1" style="width: 12%;">
				<col span="1" style="width: 12%;">
				<col span="1" style="width: 28%;">
				<col span="1" style="width: 12%;">
				<col span="1" style="width: 12%;">
				<col span="1" style="width: 12%;">
				<col span="1" style="width: 12%;">
		    </colgroup>
			<thead>
				<tr>
					<th><%= Order.human_attribute_name(:amount) %><small>(BTC)</small></th>
					<th><%= Order.human_attribute_name(:amount_paid) %><small>(BTC)</small></th>
					<th style="text-align: center;"><%= Order.human_attribute_name(:address) %></th>
					<th><%= Order.human_attribute_name(:gateway_id) %></th>
					<th><%= Order.human_attribute_name(:amount_with_currency) %><small>(<%= t('amount_with_currency_small')%>)</small></th>
					<th><%= Order.human_attribute_name(:created_at) %></th>
					<th><%= Order.human_attribute_name(:status) %></th>
				</tr>
			</thead>
			<tbody>
				<% if @orders.blank? %>
					<tr class="noRecords">
						<td colspan="7">
							<span>
								No matching record found
							</span>
						</td>
					</tr>
				<% else %>
					<% @orders.each do |order| %>
						<tr>
							<td><%= order.amount %></td>
							<td><%= order.amount_paid %></td>
							<td><%= order.address %></td>
							<td><%= order.gateway_id %></td>
							<td><%= order.amount_with_currency %></td>
							<td><%= order.created_at %></td>
							<td><%= order.status %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
    <%= paginate @orders %>
    <%= render 'share/export_bar', export_obj: 'orders' %>
</div>