<div class='pure-u-1-1'>
	<p><%= t("documentation.api.create_orders.paragraph1") %></p>
	<h2><%= t("documentation.api.create_orders.paragraph_title1") %></h2>
	<p><%= t("documentation.api.create_orders.paragraph2") %></p>
	<div class="highlight"><pre>POST /gateways/:api_gateway_id/orders?amount=1
	</pre></div>
	<p><%= t("documentation.api.create_orders.paragraph3") %></p>

	<div class="highlight"><pre>POST /gateways/:api_gateway_id/orders?amount=1&amp;keychain_id=1
	</pre></div>
	<h2><%= t("documentation.api.create_orders.paragraph_title2") %></h2>
	<p><%= t("documentation.api.create_orders.paragraph4") %></p>
	<p><%= t("documentation.api.create_orders.paragraph5") %></p>

	<div class="highlight"><pre>POST /gateways/:api_gateway_id/orders?amount=1&amp;keychain_id=1&amp;callback_data=purchase_id_123
	</pre></div>
	<p><%= t("documentation.api.create_orders.paragraph6") %></p>
	<h2><%= t("documentation.api.create_orders.paragraph_title3") %></h2>
	<p><%= t("documentation.api.create_orders.paragraph7") %></p>
<div class="highlight"><pre><span class="p">{</span>
	<span class="nt">&quot;status&quot;</span><span class="p">:</span> <span class="mi">0</span><span class="p">,</span>
	<span class="nt">&quot;amount&quot;</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>
	<span class="nt">&quot;address&quot;</span><span class="p">:</span> <span class="s2">&quot;12REjGNsZfdWj5kWTuMZ2p6WPeyWFWwUT8&quot;</span><span class="p">,</span>
	<span class="nt">&quot;transaction_ids&quot;</span><span class="p">:</span> <span class="p">[],</span>
	<span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">1298</span><span class="p">,</span>
	<span class="nt">&quot;payment_id&quot;</span><span class="p">:</span> <span class="s2">&quot;5fb72e26b23cef0900779487698893b6f566e9b8386dfb57bfabe30448b7b163&quot;</span><span class="p">,</span>
	<span class="nt">&quot;amount_in_btc&quot;</span><span class="p">:</span> <span class="s2">&quot;0.00000001&quot;</span><span class="p">,</span>
	<span class="nt">&quot;amount_paid_in_btc&quot;</span><span class="p">:</span> <span class="s2">&quot;0.00000001&quot;</span><span class="p">,</span>
	<span class="nt">&quot;keychain_id&quot;</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>
	<span class="nt">&quot;last_keychain_id&quot;</span><span class="p">:</span> <span class="mi">1</span>
	<span class="p">
}</span>
</pre></div>
	<p><%= t("documentation.api.create_orders.paragraph8") %></p>
	<p><code>https://admin.skyluster.com/pay/5fb72e26b23cef0900779487698893b6f566e9b8386dfb57bfabe30448b7b163</code></p>
	<h2><%= t("documentation.api.create_orders.paragraph_title4") %></h2>
	<p><%= t("documentation.api.create_orders.paragraph9") %></p>
	<p><%= t("documentation.api.create_orders.paragraph10") %></p>
	<p><%= t("documentation.api.create_orders.paragraph11") %></p>
	<p><%= t("documentation.api.create_orders.paragraph12") %></p>
	<p><%= t("documentation.api.create_orders.paragraph13") %></p>
	<h2><%= t("documentation.api.create_orders.paragraph_title5") %></h2>
	<p><%= t("documentation.api.create_orders.paragraph14") %></p>
<div class="highlight"><pre>
<span class="nb">require</span> <span class="s1">&#39;straight-server-kit&#39;</span>
<span class="k">def</span> <span class="nf">complete_purchase</span>
<span class="c1"># Save purchase in own DB</span>
<span class="n">purchase</span>  <span class="o">=</span> <span class="no">Purchase</span><span class="o">.</span><span class="n">create</span><span class="p">()</span>

<span class="c1"># Perform signed request to Mycelium Gear API</span>
<span class="n">client</span>    <span class="o">=</span> <span class="no">StraightServerKit</span><span class="o">::</span><span class="no">Client</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="ss">gateway_id</span><span class="p">:</span> <span class="n">api_gateway_id</span><span class="p">,</span> <span class="ss">secret</span><span class="p">:</span> <span class="n">gateway_secret</span><span class="p">)</span>
<span class="n">new_order</span> <span class="o">=</span> <span class="no">StraightServerKit</span><span class="o">::</span><span class="no">Order</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="ss">amount</span><span class="p">:</span> <span class="n">purchase</span><span class="o">.</span><span class="n">amount</span><span class="p">,</span> <span class="ss">callback_data</span><span class="p">:</span> <span class="n">purchase</span><span class="o">.</span><span class="n">id</span><span class="p">)</span>
<span class="n">order</span>     <span class="o">=</span> <span class="n">client</span><span class="o">.</span><span class="n">orders</span><span class="o">.</span><span class="n">create</span><span class="p">(</span><span class="n">new_order</span><span class="p">)</span>

<span class="c1"># Save order reference</span>
<span class="n">purchase</span><span class="o">.</span><span class="n">update</span><span class="p">(</span><span class="ss">order_id</span><span class="p">:</span> <span class="n">order</span><span class="o">.</span><span class="n">id</span><span class="p">)</span>

<span class="c1"># Redirect customer to the payment page</span>
<span class="n">redirect_to</span> <span class="n">client</span><span class="o">.</span><span class="n">pay_url</span><span class="p">(</span><span class="n">order</span><span class="p">)</span>
<span class="k">end</span>
</pre></div>
</div>