<div class='pure-u-1-1'>
<p><%= t("documentation.api.signed_request.paragraph1") %></p>
<!-- code1 begin -->
<div class="highlight"><pre>
<span class="vg">Base64StrictEncode</span><span class="p">(</span>
<span class="w">  </span><span class="vg">HMAC</span><span class="o">-</span><span class="vg">SHA512</span><span class="p">(</span>
<span class="w">    </span><span class="vg">REQUEST_METHOD</span><span class="w"> </span><span class="o">+</span><span class="w"> </span><span class="vg">REQUEST_URI</span><span class="w"> </span><span class="o">+</span><span class="w"> </span><span class="vg">SHA512</span><span class="p">(</span><span class="vg">X</span><span class="o">-</span><span class="vg">Nonce</span><span class="w"> </span><span class="o">+</span><span class="w"> </span><span class="vg">REQUEST_BODY</span><span class="p">),</span>
<span class="w">    </span><span class="vg">GATEWAY_SECRET</span>
<span class="w">  </span><span class="p">)</span>
<span class="p">)</span>
</pre></div>
<!-- code1 end -->

<p><%= t("documentation.api.signed_request.paragraph2") %></p>
<ul>
	<%(1..8).each do |i|%>
	 <li><%= t("documentation.api.signed_request.ul.li#{i}") %></li>
	<% end %>
</ul>

<p><%= t("documentation.api.signed_request.paragraph3") %></p>
<p><%= t("documentation.api.signed_request.paragraph4") %></p>
<p><%= t("documentation.api.signed_request.paragraph5") %></p>
<!-- code2 begin -->
<div class="highlight"><pre><span class="vg">HMAC</span><span class="o">-</span><span class="vg">SHA512</span><span class="p">(</span>
<span class="w">  </span><span class="vg">REQUEST_METHOD</span><span class="w"> </span><span class="o">+</span><span class="w"> </span><span class="vg">REQUEST_URI</span><span class="w"> </span><span class="o">+</span><span class="w"> </span><span class="vg">SHA512</span><span class="p">(</span><span class="vg">X</span><span class="o">-</span><span class="vg">Nonce</span><span class="w"> </span><span class="o">+</span><span class="w"> </span><span class="vg">REQUEST_BODY</span><span class="p">),</span>
<span class="w">  </span><span class="vg">GATEWAY_SECRET</span>
<span class="p">)</span>
</pre></div>
<!-- code2 end -->

<p><%= t("documentation.api.signed_request.paragraph6") %></p>
<ul>
	<%(9..10).each do |i|%>
	 <li><%= t("documentation.api.signed_request.ul.li#{i}") %></li>
	<% end %>
</ul>
<p><%= t("documentation.api.signed_request.paragraph7") %></p>
<!-- code3 begin -->
<div class="highlight"><pre>
<span class="nb">require</span> <span class="s1">&#39;base64&#39;</span>
<span class="nb">require</span> <span class="s1">&#39;openssl&#39;</span>
<span class="n">sha512</span> <span class="o">=</span> <span class="no">OpenSSL</span><span class="o">::</span><span class="no">Digest</span><span class="o">::</span><span class="no">SHA512</span><span class="o">.</span><span class="n">new</span>

<span class="n">secret</span> <span class="o">=</span> <span class="s1">&#39;5ioHLiVwxqkS6Hfdev8pNQfhA9xy7dK957RBVYycMhfet23BTuGUPbYxA9TP6x9P&#39;</span>
<span class="n">nonce</span> <span class="o">=</span> <span class="mi">1442214027577</span> <span class="c1"># (Time.now.to_f * 1000).to_i</span>
<span class="n">body</span> <span class="o">=</span> <span class="s1">&#39;&#39;</span>
<span class="n">nonce_body_hash</span> <span class="o">=</span> <span class="n">sha512</span><span class="o">.</span><span class="n">digest</span><span class="p">(</span><span class="n">nonce</span><span class="o">.</span><span class="n">to_s</span> <span class="o">+</span> <span class="n">body</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span>
<span class="n">nonce_body_hash</span><span class="o">.</span><span class="n">bytes</span> <span class="o">== [123, 43, 252, 100, 228, 170, 180, 74, 102, 78, 146, 144, 197, 246, 136, 25, 81, 207, 216, 218, 222, 86, 40, 184, 184, 181, 177, 204, 2, 160, 123, 2, 221, 81, 181, 97, 213, 106, 107, 213, 182, 25, 151, 12, 153, 7, 180, 215, 67, 66, 14, 202, 216, 115, 106, 18, 84, 221, 241, 253, 77, 104, 193, 203]</span> <span class="o"></span>
<span class="n">request</span> <span class="o">=</span> <span class="s2">&quot;POST/gateways/6930af63a087cad5cd920e12e4729fe4f777681cb5b92cbd9a021376c0f91930/orders?amount=1&amp;keychain_id=1&quot;</span> <span class="o">+</span> <span class="n">nonce_body_hash</span>
<span class="n">raw_signature</span> <span class="o">=</span> <span class="no">OpenSSL</span><span class="o">::</span><span class="no">HMAC</span><span class="o">.</span><span class="n">digest</span><span class="p">(</span><span class="n">sha512</span><span class="p">,</span> <span class="n">secret</span><span class="p">,</span> <span class="n">request</span><span class="p">)</span>
<span class="n">raw_signature</span><span class="o">.</span><span class="n">bytes</span> <span class="o">== [166, 197, 147, 167, 160, 132, 102, 44, 80, 195, 253, 1, 47, 61, 213, 12, 204, 129, 177, 11, 243, 86, 156, 85, 166, 69, 180, 246, 80, 208, 21, 100, 104, 32, 236, 166, 179, 212, 8, 203, 113, 84, 43, 17, 176, 184, 147, 25, 117, 212, 236, 177, 165, 253, 146, 131, 240, 101, 232, 186, 46, 61, 35, 20]</span> <span class="o"></span>
<span class="n">signature</span> <span class="o">=</span> <span class="no">Base64</span><span class="o">.</span><span class="n">strict_encode64</span><span class="p">(</span><span class="n">raw_signature</span><span class="p">)</span>
<span class="n">signature</span> <span class="o">==</span> <span class="s2">&quot;psWTp6CEZixQw/0BLz3VDMyBsQvzVpxVpkW09lDQFWRoIOyms9QIy3FUKxGwuJMZddTssaX9koPwZei6Lj0jFA==&quot;</span>
<span class="c1"># $ curl -H &quot;X-Nonce: 1442214027577&quot; -H &quot;X-Signature: psWTp6CEZixQw/0BLz3VDMyBsQvzVpxVpkW09lDQFWRoIOyms9QIy3FUKxGwuJMZddTssaX9koPwZei6Lj0jFA==&quot; -X POST &#39;https://admin.skyluster.com/gateways/6930af63a087cad5cd920e12e4729fe4f777681cb5b92cbd9a021376c0f91930/orders?amount=1&amp;keychain_id=1&#39;</span>
<span class="c1"># {&quot;status&quot;:0,&quot;amount&quot;:438481,&quot;address&quot;:&quot;mwtoSKLYQiAXtm2h7JV4aZtrixNjzESbYB&quot;,&quot;tid&quot;:null,&quot;id&quot;:2562,&quot;payment_id&quot;:&quot;27066a1344323db82bb8f20e0fc209e58178a79edb61ca522c22946728f16c66&quot;,&quot;amount_in_btc&quot;:&quot;0.00438481&quot;,&quot;amount_paid_in_btc&quot;:&quot;0.0&quot;,&quot;keychain_id&quot;:1,&quot;last_keychain_id&quot;:1}</span>
</pre></div>
<!-- code3 end -->

<p><%= t("documentation.api.signed_request.paragraph8") %></p>
<div class="highlight"><pre>
<span class="nb">require</span>
<span class="s1">&#39;openssl&#39;</span><span class="n">sha512</span><span class="o">=</span> <span class="no">OpenSSL</span><span class="o">::</span><span class="no">Digest</span><span class="o">::</span><span class="no">SHA512</span><span class="o">.</span><span class="n">new</span>
<span class="n">secret</span> <span class="o">=</span> <span class="s1">&#39;5ioHLiVwxqkS6Hfdev8pNQfhA9xy7dK957RBVYycMhfet23BTuGUPbYxA9TP6x9P&#39;</span>
<span class="n">nonce</span> <span class="o">=</span> <span class="mi">1442214785601</span> <span class="c1"># (Time.now.to_f * 1000).to_i</span>
<span class="n">body</span> <span class="o">=</span> <span class="s1">&#39;&#39;</span>
<span class="n">nonce_body_hash</span> <span class="o">=</span> <span class="n">sha512</span><span class="o">.</span><span class="n">hexdigest</span><span class="p">(</span><span class="n">nonce</span><span class="o">.</span><span class="n">to_s</span> <span class="o">+</span> <span class="n">body</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span>
<span class="n">nonce_body_hash</span> <span class="o">==</span> <span class="s2">&quot;ae1a1076b17a25db88a98c9cc7a563d76ea495326731ae4280a7ba23d49d0f72b3279db3526e6aa478d1d3534d2e493fd85f707270bb616d789aa49041498f8e&quot;</span>
<span class="n">request</span> <span class="o">=</span> <span class="s2">&quot;POST/gateways/6930af63a087cad5cd920e12e4729fe4f777681cb5b92cbd9a021376c0f91930/orders?amount=1&amp;keychain_id=1&quot;</span> <span class="o">+</span> <span class="n">nonce_body_hash</span>
<span class="n">signature</span> <span class="o">=</span> <span class="no">OpenSSL</span><span class="o">::</span><span class="no">HMAC</span><span class="o">.</span><span class="n">hexdigest</span><span class="p">(</span><span class="n">sha512</span><span class="p">,</span> <span class="n">secret</span><span class="p">,</span> <span class="n">request</span><span class="p">)</span>
<span class="n">signature</span> <span class="o">==</span> <span class="s2">&quot;c08fdd361cf9a39e9fb0f908d4ff1c9799c46eb0721b4ed69de3353b087ae4e6fa321dbe047d004e7e8444a44b455eb511c56a60441c6ebe3a610bd855bbb865&quot;</span>

<span class="c1"># $ curl -H &quot;X-Nonce: 1442214785601&quot; -H &quot;X-Signature: c08fdd361cf9a39e9fb0f908d4ff1c9799c46eb0721b4ed69de3353b087ae4e6fa321dbe047d004e7e8444a44b455eb511c56a60441c6ebe3a610bd855bbb865&quot; -X POST &#39;https://admin.skyluster.com/gateways/6930af63a087cad5cd920e12e4729fe4f777681cb5b92cbd9a021376c0f91930/orders?amount=1&amp;keychain_id=1&#39;</span>
<span class="c1"># {&quot;status&quot;:0,&quot;amount&quot;:438481,&quot;address&quot;:&quot;mwtoSKLYQiAXtm2h7JV4aZtrixNjzESbYB&quot;,&quot;tid&quot;:null,&quot;id&quot;:2563,&quot;payment_id&quot;:&quot;f352e5542646f98e7035f4d6636efefece08a96db5427ede3cc82e3076e5d4b7&quot;,&quot;amount_in_btc&quot;:&quot;0.00438481&quot;,&quot;amount_paid_in_btc&quot;:&quot;0.0&quot;,&quot;keychain_id&quot;:1,&quot;last_keychain_id&quot;:1}</span>
</pre></div>

<p><%= t("documentation.api.signed_request.paragraph9") %></p>
<!-- cod4 begin -->
<div class="highlight"><pre><span class="nb">require</span> <span class="s1">&#39;openssl&#39;</span>
<span class="n">sha512</span> <span class="o">=</span> <span class="no">OpenSSL</span><span class="o">::</span><span class="no">Digest</span><span class="o">::</span><span class="no">SHA512</span><span class="o">.</span><span class="n">new</span>
<span class="n">secret</span> <span class="o">=</span> <span class="s1">&#39;5ioHLiVwxqkS6Hfdev8pNQfhA9xy7dK957RBVYycMhfet23BTuGUPbYxA9TP6x9P&#39;</span>
<span class="n">nonce</span> <span class="o">=</span> <span class="mi">1442215362723</span> <span class="c1"># (Time.now.to_f * 1000).to_i</span>
<span class="n">body</span> <span class="o">=</span> <span class="s1">&#39;{&quot;amount&quot;:1,&quot;keychain_id&quot;:1}&#39;</span>
<span class="n">nonce_body_hash</span> <span class="o">=</span> <span class="n">sha512</span><span class="o">.</span><span class="n">hexdigest</span><span class="p">(</span><span class="n">nonce</span><span class="o">.</span><span class="n">to_s</span> <span class="o">+</span> <span class="n">body</span><span class="o">.</span><span class="n">to_s</span><span class="p">)</span>
<span class="n">nonce_body_hash</span> <span class="o">==</span> <span class="s2">&quot;5e587ea40fc9f5a04746aac4f2c90c78fe49cd24d2d208d12732101e0a5c12f00583655925228c25fe68a1197b5b3e478b75a4351bb38d95c18353f3d6bfe569&quot;</span>
<span class="n">request</span> <span class="o">=</span> <span class="s2">&quot;POST/gateways/6930af63a087cad5cd920e12e4729fe4f777681cb5b92cbd9a021376c0f91930/orders&quot;</span> <span class="o">+</span> <span class="n">nonce_body_hash</span>
<span class="n">signature</span> <span class="o">=</span> <span class="no">OpenSSL</span><span class="o">::</span><span class="no">HMAC</span><span class="o">.</span><span class="n">hexdigest</span><span class="p">(</span><span class="n">sha512</span><span class="p">,</span> <span class="n">secret</span><span class="p">,</span> <span class="n">request</span><span class="p">)</span>
<span class="n">signature</span> <span class="o">==</span> <span class="s2">&quot;4d1e6b02f30aa6ca0c0fafeedea3e785ad9929a7bb8645c2621413abfebf68323791ae6bb76e8374b48db09c4bfdba4c083c5916de2f0f582ac68a32cefe63f1&quot;</span>

<span class="c1"># $ curl -H &quot;Content-Type: application/json&quot; -H &quot;X-Nonce: 1442215362723&quot; -H &quot;X-Signature: 4d1e6b02f30aa6ca0c0fafeedea3e785ad9929a7bb8645c2621413abfebf68323791ae6bb76e8374b48db09c4bfdba4c083c5916de2f0f582ac68a32cefe63f1&quot; -X POST -d &#39;{&quot;amount&quot;:1,&quot;keychain_id&quot;:1}&#39; &#39;https://admin.skyluster.com/gateways/6930af63a087cad5cd920e12e4729fe4f777681cb5b92cbd9a021376c0f91930/orders&#39;</span>
<span class="c1"># {&quot;status&quot;:0,&quot;amount&quot;:438481,&quot;address&quot;:&quot;mwtoSKLYQiAXtm2h7JV4aZtrixNjzESbYB&quot;,&quot;tid&quot;:null,&quot;id&quot;:2564,&quot;payment_id&quot;:&quot;35bf5bd6aafcadf336be042582203e94211844c973ef67e83f681a9e2b907dd0&quot;,&quot;amount_in_btc&quot;:&quot;0.00438481&quot;,&quot;amount_paid_in_btc&quot;:&quot;0.0&quot;,&quot;keychain_id&quot;:1,&quot;last_keychain_id&quot;:1}</span>
</pre></div>
<!-- cod4 end -->

</div>
</div>