<div class='pure-u-1-1'>
	<p><%= t("documentation.create_gateway.paragraph1") %></p>
	<h2><%= t("documentation.create_gateway.paragraph_title1") %></h2>
	<p><%= t("documentation.create_gateway.paragraph2") %></p>
	<ul>
		<li><p><%= t("documentation.create_gateway.paragraph3") %></p></li>
		<li>
			<p><%= t("documentation.create_gateway.paragraph4") %></p>
			<div class="highlight">
				<pre>xpub6AHA9hZDN11k2ijHMeS5QqHx2KP9aMBRhTDqANMnwVtdyw2TDYRmF8PjpvwUFcL1Et8Hj59S3gTSMcUQ5gAqTz3Wd8EsMTmF3DChhqPQBnU</pre>
			</div>
			<p><%= t("documentation.create_gateway.paragraph5") %></p>
		</li>
		<li><p><%= t("documentation.create_gateway.paragraph6") %></p></li>
		<li><p><%= t("documentation.create_gateway.paragraph7") %></p></li>
		<li><p><%= t("documentation.create_gateway.paragraph8") %></p></li>
		<li><p><%= t("documentation.create_gateway.paragraph9") %></p></li>
		<li><p><%= t("documentation.create_gateway.paragraph10") %></p></li>
		<li><p><%= t("documentation.create_gateway.paragraph11") %></p></li>
	</ul>
	<h2><%= t("documentation.create_gateway.paragraph_title2") %></h2>
	<p><%= t("documentation.create_gateway.paragraph12") %></p>
	<p><%= t("documentation.create_gateway.paragraph13") %></p>
</div>