<div class='pure-u-1-1'>
	<p><%= t("documentation.overview_payment_process.paragraph1") %></p>

	<h2><%= t("documentation.overview_payment_process.paragraph_title1") %></h2>

	<p><%= t("documentation.overview_payment_process.paragraph2") %></p>

	<h2><%= t("documentation.overview_payment_process.paragraph_title2") %></h2>

	<p><%= t("documentation.overview_payment_process.paragraph3") %></p>

	<div class="highlight"><pre>https://verypay.com/order/08ccaf5cd48628fb69900d7295cd46de5ac97dc3d798816f550a266f3eec01e1</pre></div>

	<p><%= t("documentation.overview_payment_process.paragraph4") %></p>

	<div class="highlight"><pre>POST https://worldsbestshoes.com/payments/callback</pre></div>

	<p><%= t("documentation.overview_payment_process.paragraph5") %></p>

	<p><%= t("documentation.overview_payment_process.paragraph6") %></p>

	<h2><%= t("documentation.overview_payment_process.paragraph_title3") %></h2>

	<p><%= t("documentation.overview_payment_process.paragraph7") %></p>

	<h2><%= t("documentation.overview_payment_process.paragraph_title4") %></h2>

	<p><%= t("documentation.overview_payment_process.paragraph8") %></p>

	<p><%= t("documentation.overview_payment_process.paragraph9") %></p>

	<h2><%= t("documentation.overview_payment_process.paragraph_title5") %></h2>

	<p><%= t("documentation.overview_payment_process.paragraph10") %></p>

	<ul>
		<% (1..4).each do |i|%>
			<li>
				<strong><%= t("documentation.overview_payment_process.li.strong#{i}") %></strong>
				<%= t("documentation.overview_payment_process.li.description#{i}") %>
			</li>
		<% end %>
	</ul>
</div>
