<div class='pure-u-1-1'>
<h2><%= t("documentation.developer_api.address_providers.title") %></h2>

<p><%= t("documentation.developer_api.address_providers.list.paragraph1") %></p>

<h4><%= t("documentation.developer_api.address_providers.url_structure") %></h4>

<p>GET https://admin.skyluster.com/api/address_providers</p>


<h4><%= t("documentation.developer_api.address_providers.parameters") %></h4>

<table>
  <tr>
    <td>address_providers <i>(Array)</i></td>
    <td>Root element is array of hashes</td>
  <tr>
    <td>address_providers/id <i>(Integer)</i></td>
    <td>ID of Address Provider</td>
  <tr>
    <td>address_providers/type <i>(String)</i></td>
    <td>Type of Address Provider</td>
</table>

<h3><%= t("documentation.developer_api.address_providers.example_request") %></h3>

<table>
  <tr>
    <td>REQUEST</td>
    <td>GET https://admin.skyluster.com/api/address_providers</td>
  <tr>
    <td>RETURNS</td>
    <td><pre><code>
      [{
        "type": "address_providers_cashila",
        "id": 1
      }]
    </code></pre></td>
</table>

</div>