<% provide(:title, "Home")%>

<section class='landing home'>
	<header class='loaderReveal loaderRevealDelay400 loaderRevealSpeed600'>
		<div class='navContainer'>
			<a class="logo" href="/"><img src="https://dwsv3vn9of50v.cloudfront.net/assets/mycelium_gear_logo_white-2f97d94d480a2eeeaaf4df6dd5e45d19cd673c6b08821ad3f93592a25073cc55.svg" alt="Skyluster logo white 2f97d94d480a2eeeaaf4df6dd5e45d19cd673c6b08821ad3f93592a25073cc55" /></a>
			<nav class='secondary inline'>
				<ul class="homeNav">
					<li>
					  <%= form_tag request.url || root_path, id:'locale_setting', method: :get do %>
					     <%= hidden_field_tag :uid, params[:uid] %>
					     <%= select_tag 'locale', options_for_select([['English', 'en' ], ['中文', 'zh-CN']], params[:locale]), class: 'homeLocaleSelect' %>
					  <% end %>
					</li>
					<li>
						<a class="buttonRounded buttonXSmall buttonTransparentLight" href="<%= new_user_session_path %>"><span>Log in</span>
							<div class='icon-login'></div>
							<div class='loaderContainer'>
								<div class='loader'></div>
							</div>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<div class='pure-g'>
		<div class='pure-u-1-1 pure-u-lg-16-24 pure-u-xl-3-5'>
			<div class='content loaderReveal loaderRevealDelay700 loaderRevealSpeed600'>
				<div class='contentHero'>
					<h1><%= I18n.t('home_page.century_title') %><br/><em><%= I18n.t('home_page.business_solution') %></em></h1>
					<!-- <p><%= I18n.t('home_page.solutions_explain') %></p> -->
<!-- 					<ul class='menuFramedLinks'>
						<li>
							<a href="/payments_processing"><%= I18n.t('bitcoin') %><br/><%= I18n.t('home_page.payment_process') %></a>
						</li>
						<li>
							<a href="/joint_escrow">Joint Escrow <br/>smart contracts</a>
						</li>
						<li>
							<a href="/payroll">Automated <br/>Bitcoin Payroll</a>
						</li>
					</ul> -->
					<div class='callToAction'>
						<p><%= I18n.t('home_page.start_accepting') %></p>
						<a class="buttonRounded buttonPrimary buttonLarge" href="<%= new_user_registration_path %>"><span><%= I18n.t('home_page.sign_up_menu') %></span>
							<div class='loaderContainer'>
								<div class='loader'></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class='contentSideHero cover loaderReveal loaderRevealDelay900 loaderRevealSpeed600 pure-hidden-xs pure-hidden-sm pure-hidden-md'>
	<div class='pointsContainer'>
		<div class='point'>
			<h2>
				<div class='icon-store'></div>
				<span><%= I18n.t('home_page.right_question1.title') %></span>
			</h2>
			<p><%= I18n.t('home_page.right_question1.content') %></p>
		</div>
		<div class='point'>
			<h2>
				<div class='icon-people'></div>
				<span><%= I18n.t('home_page.right_question2.title_1') %><br /><%= I18n.t('home_page.right_question2.title_2') %></span>
			</h2>
			<p><%= I18n.t('home_page.right_question2.content') %></p>
		</div>
<!-- 		<div class='point'>
			<h2>
				<div class='icon-wallet2'></div>
				<span><%#= I18n.t('home_page.right_question3.title') %></span>
			</h2>
			<p><%#= I18n.t('home_page.right_question3.content') %></p>
		</div> -->
	</div>
</div>


<script>
  $('select[name=locale]').change(function(){
    $('#locale_setting').submit();
  });
</script>