<div class='pure-u-1-1'>
  <h2><%= t("documentation.developer_api.address_providers.cashila.login.title") %></h2>

  <p><%= t("documentation.developer_api.address_providers.cashila.login.paragraph1") %></p>

  <h4><%= t("documentation.developer_api.address_providers.url_structure") %></h4>

  <p>POST http://gateway.skyluster.com/api/address_providers/cashila/login</p>

  <h4><%= t("documentation.developer_api.address_providers.parameters") %></h4>

  <table>
    <tr>
      <td>email <i>(String)</i></td>
      <td>Email for Cashila account</td>
      <tr>
        <td>password <i>(String)</i></td>
        <td>Password for Cashila account</td>
        <tr>
          <td>token <i>(String)</i></td>
          <td>Cashila account API token</td>
          <tr>
            <td>secret <i>(String)</i></td>
            <td>Cashila account API secret</td>
          </tr>
        </tr>
      </tr>
    </tr>
  </table>

  <h3><%= t("documentation.developer_api.address_providers.example_request") %></h3>
  <table>
    <tr>
      <td>REQUEST</td>
      <td>POST http://gateway.skyluster.com/api/address_providers/cashila/login</td>
      <tr>
        <td>PARAMETERS</td>
        <td><pre>
          <code>
{
  &quot;token&quot;: &quot;e414d696-296f-4e10-97b3-3bbaecbe150e&quot;,
  &quot;secret&quot;: &quot;cTxm2TGBULSxssEXdLc2TM9FK7pqTzVg9LWDCy/BXVy/YmEkg7XrxsrcaWUpSo/6Q+76ZZTLq0IcGmMDFEeRvw==&quot;
}
          </code></pre></td>
        <tr>
          <td>RETURNS</td>
          <td>
            <pre>
              <code>
{
  "type": "address_providers_cashila",
  "id": 13,
  "bank_account": {},
  "status": "pending",
  "balance": 3.21,
  "rejected_reason": null,
  "user_details": {},
  "documents": [
    {
      "name": "gov_id_front",
      "status": "not present"
    },
    {
      "name": "gov_id_back",
      "status": "not present"
    },
    {
      "name": "residence",
      "status": "not present"
    }
  ]
}
              </code>
            </pre>
          </td>
        </tr>
      </tr>
    </tr>
  </table>

  <table>
    <tr>
      <td>REQUEST</td>
      <td>POST http://gateway.skyluster.com/api/address_providers/cashila/login</td>
      <tr>
        <td>PARAMETERS</td>
<td><pre><code>{
  &quot;email&quot;: &quot;alerticus+cashila@gmail.com&quot;,
  &quot;password&quot;: &quot;q1w2e3r4&quot;
}</code></pre></td>
        <tr>
          <td>RETURNS</td>
          <td><pre><code>
{
  "type": "address_providers_cashila",
  "id": 11,
  "bank_account": {},
  "status": "pending",
  "balance": 3.21,
  "rejected_reason": null,
  "user_details": {
    "email": "alerticus+cashila@gmail.com"
  },
 "documents": [
    {
      "name": "gov_id_front",
      "status": "not present"
    },
    {
      "name": "gov_id_back",
      "status": "not present"
    },
    {
      "name": "residence",
      "status": "not present"
    }
  ]
}
        </code></pre></td>
  </table>
</div>
