<div class='pure-u-1-1'>
  <h2><%= t("documentation.developer_api.address_providers.cashila.withdraw.title") %></h2>

  <h4><%= t("documentation.developer_api.address_providers.url_structure") %></h4>

  <p><%= t("documentation.developer_api.address_providers.cashila.withdraw.paragraph1") %></p>

  <h4><%= t("documentation.developer_api.address_providers.parameters") %></h4>

<table>
<tr>
<td>id <i>(Integer)</i></td>
<td>ID of Cashila Address Provider</td>
<tr>
<td>amount <i>(Float)</i></td>
<td>Amount to withdraw in EUR</td>
</table>

<h3><%= t("documentation.developer_api.address_providers.example_request") %></h3>

<table>
<tr>
<td>REQUEST</td>
<td>POST https://admin.skyluster.com/api/address_providers/cashila/15/withdraw</td>
<tr>
<td>PARAMETERS</td>
<td><pre><code>
{
  "amount": 0.2
}</code></pre></td>
<tr>
<td>RETURNS</td>
<td><pre><code>
{
  "type": "address_providers_cashila",
  "id": 15,
  "bank_account": {
  },
  "status": "pending",
  "balance": 3.21,
  "rejected_reason": null,
  "user_details": {
  "first_name": "John",
  "last_name": "Smith",
  "address": "Route de Vonèche 458",
  "postal_code": "6230",
  "city": "Viesville",
  "country_code": "BE"
  },
  "documents": [
    {
    "name": "gov_id_front",
    "status": "not present"
    },
    {
    "name": "gov_id_back",
    "status": "not present"
    },
    {
    "name": "residence",
    "status": "not present"
    }
  ]
}</code></pre></td>
</table>

</div>