<div class='formHeading'>
	<h2><%= t("share_linK_page.forget_password") %></h2>
</div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'simple_form standardLight' })  do |f| %>
  <%= devise_error_messages! %>

  <div class="form-inputs">
	<div class="input email required user_email">
	    <%= f.label class: 'email required control-label' do %>
	    	<abbr title="required">*</abbr><%= User.human_attribute_name(:email) %>
	    <% end %>
	    <%= f.email_field :email, autofocus: true, class: 'string email required' %>
	</div>
  </div>

  <div class="form-actions actions spacedTop">
    <%= f.submit t("reset_password.button"), class: 'btn button buttonYellow middle mobileFullWidth' %>
  </div>
<% end %>
