<% provide(:title, "Edit Account")%>

<div class='contentHeader'>
	<h1><%= t('user_edit.title') %></h1>
</div>

<%= form_for [:admin, @user] do |f|%>
		<div class='form-inputs'>
			<div class='formWrapper medium spacedBottom'>
				<div class='pure-g'>
					<div class='pure-u-1-2'>
						<div class="input string optional user_name">
							<label class="string optional control-label" for="user_name"><abbr title="required">*</abbr><%= User.human_attribute_name(:name) %></label>
							<%= f.text_field :name, class: 'string optional', autofocus: true %>
						</div>
						<div class="input email required user_email">
							<label class="email required control-label" for="user_email"><abbr title="required">*</abbr><%= User.human_attribute_name(:email) %></label>
							<%= f.text_field :email, class: 'string optional'%>
						</div>
						<div class="input select optional user_updates_email_subscription_level">
							<label class="select optional control-label" for="user_updates_email_subscription_level"><%= t('user_edit.send_me_updates') %></label>
							<%= f.select :updates_email_subscription_level, options_for_select(User.updates_email_subscription_levels.map{|k,v| [t("activerecord.attributes.user.enum.updates_email_subscription_level.#{k}"), v]}), class: 'select optional'%>
						</div>
					</div>
				</div>
			</div>
			<div class='formBlock'>
				<div class='formWrapper medium'>
					<h3><%= t('user_edit.password.title') %></h3>
					<div class='pure-g'>
						<div class='pure-u-1-2'>
							<div class='columnContainer inputSpacingSmall'>
								<div class="input password optional user_password field_with_hint">
									<label class="password optional control-label" for="user_password"><%= t('user_edit.password.new') %></label>
									<input class="password optional" type="password" name="user[password]" id="user_password" />
									<span class="hint"><%= t('user_edit.password.explain.new') %></span>
								</div>
							</div>
						</div>
						<div class='pure-u-1-2'>
							<div class='columnContainer inputSpacingSmall'>
								<div class="input password optional user_password_confirmation field_with_hint">
									<label class="password optional control-label" for="user_password_confirmation"><%= t('user_edit.password.new_again') %></label>
									<input class="password optional" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
									<span class="hint"><%= t('user_edit.password.explain.new_again') %></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<!-- 			<div class='formBlock'>
				<div class='formWrapper medium'>
					<h3>Two factor authentication</h3>
					<p class='twoFactorAuth green'>
						<img src="https://dwsv3vn9of50v.cloudfront.net/assets/sidebar_icons/two_factor_auth-5102f23355adbc50a8b77ec041ebee04c06645a88c6d80b16fbe4819d5bf6c6e.png" alt="Two factor auth 5102f23355adbc50a8b77ec041ebee04c06645a88c6d80b16fbe4819d5bf6c6e" />
						<span>You have two factor authentication already <b>enabled</b>. Would you like to <a href="/users/displayqr">disable it?</a></span>
						<p>
							<div class='reveal reservedTokensList'>
								<div class='reveal-toggle'>
									<div class='reveal-link'>Show my reserve tokens</div>
								</div>
								<div class='reveal-content'>
									<p>
										Your reserve tokens:
										<span>721975, 816374, 727289, 519801, 352085, 193976, 409580, 406917, 577793, 314107</span>
									</p>
								</div>
							</div>
							<a class="button buttonSecondary small" rel="nofollow" data-method="post" href="/generate_new_reserved_tokens"><span>Regenerate reserve tokens</span>
								<div class='loaderContainer'>
									<div class='loader'></div>
								</div>
							</a></p>
						</p>
					</div>
				</div>
			</div> -->
				<div class='formWrapper medium'>
					<div class='pure-g'>
						<div class='pure-u-1-2'>
							<div class='columnContainer'>
								<div class="input password required user_current_password field_with_errors">
									<label class="password required control-label" for="user_current_password"><abbr title="required">*</abbr>
										<%= t('user_edit.save_change.title') %>
									</label>
									<input class="password required" type="password" name="user[current_password]" id="user_current_password" />
									<span class="error" style="display: none"><%= t('user_edit.save_change.error') %></span>
							    </div>
							</div>
						</div>
					</div>
				</div>
				<div class='formWrapper medium'>
					<div class='pure-g'>
						<div class='pure-u-1-2'>
							<div class='columnContainer'>
								<div class="input checkbox_with_hint optional user_toggle_dev_api">
									<label><%= t('user_edit.enable_api.title') %></label>
									<div class="formControl checkbox">
										<%= f.check_box :toggle_dev_api %>
										<label class="hint" for="user_toggle_dev_api">
											<span><%= t('user_edit.enable_api.checkbox_explain') %></span>
										</label>
									</div>
									<div class='reveal reservedTokensList'>
										<div class='reveal-toggle'>
											<div class='reveal-link'><%= t('user_edit.enable_api.show_api.link') %></div>
										</div>
										<div class='reveal-content'>
											<p>
												<%= t('user_edit.enable_api.show_api.title') %>
												<span><%= @user.api_secret %></span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class='formWrapper medium'>
					<div class='pure-g'>
						<div class='pure-u-1-2'>
							<div class='columnContainer'>
								<div class="input checkbox_with_hint optional user_regenerate_secret">
									<label><%= t('user_edit.regenerate_api_secret.title') %></label>
									<div class="formControl checkbox">
										<%= f.check_box :regenerate_secret %>
										<label class="hint" for="user_regenerate_secret">
											<span><%= t('user_edit.regenerate_api_secret.checkbox_explain') %></span>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='form-actions actions spacedTop'>
				<%= f.submit t('user_edit.save_change'), class: 'btn button'%>
			</div>
<% end %>

	