<!DOCTYPE html>
<html>
  <head>
    <title>Home | Skyluster</title>
    <meta name="description" content="&quot;Skyluster: a new generation Bitcoin payment processor. Doesn&#39;t hold your private keys, has no access to your money. Provides easy to set up payment widget as well as sophisticated developer API.&quot;" />
  	<meta name="keywords" content="bitcoin,payment,payments,widget,api,payment api,accept payments,accept bitcoin,accept bitcoin" />
  	<meta charset='utf-8'>
  	<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  	<meta content='width=device-width, initial-scale=1' name='viewport'>
  	<link rel="stylesheet" media="screen" href="//fonts.googleapis.com/css?family=Roboto:100,300,300italic,400,500,700&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic" />
  	<link rel="stylesheet" media="screen" href="https://dwsv3vn9of50v.cloudfront.net/assets/vendor/pure-grids-responsive-old-ie-min-c567d92b689302c52fde0f00532a8627f166a7e4389be6c7e2d6d681bb5665bf.css" />
  	<link rel="stylesheet" media="screen" href="https://dwsv3vn9of50v.cloudfront.net/assets/vendor/pure-grids-responsive-min-5a78a0828a2643c176530677d88bd5cbd9fd38f6d41acea2a5e867fa1be431a8.css" />
  	<link rel="stylesheet" media="all" href="https://dwsv3vn9of50v.cloudfront.net/assets/landing-9dd1b4290f243b04b5a2601c59fe6a7d4cccca7d4b89dcd54af4b5dbbf1a6d14.css" />
      <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  	<script src="https://dwsv3vn9of50v.cloudfront.net/assets/landing-f1b282b1d9304327f11ba8bc9beddb891ed5717d1f086eac4742dc8576ebfb64.js"></script>
  	<script src="https://gateway.gear.mycelium.com/gear-widget-host.js"></script>
	  <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'flash_info', 'data-turbolinks-track' => false %>
  </head>
<body class='unauthenticated'>
  <img class="ajaxLoader" src="https://dwsv3vn9of50v.cloudfront.net/assets/ajax-loader-dark-389c885ad1d1f874c6285cd29cd12877a175927d2dd001734ac2c3c8917c8c35.gif" alt="Ajax loader dark 389c885ad1d1f874c6285cd29cd12877a175927d2dd001734ac2c3c8917c8c35" />
  <div id='spaceBgContainer'>
  </div>
  <% flash.each  do |message_type, message| %>
  	<div class="alert alert-<%= message_type %>">
  		<%= message %>
  		<span class='icon-close' id='close_notification_ico'></span>
  	</div>
  <% end %>
	<%= yield %>
</body>
</html>
