<div class='formHeading'>
  <h2><%= t('sign_up') %></h2>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class='form-inputs'>
    <div class="input email required user_name">
      <%= f.label class: 'string optional control-label' do %>
        <abbr title="required">*</abbr><%= t('activerecord.attributes.user.name') %></label>
      <% end %>
      <%= f.text_field :name, autofocus: true, class: 'string optional required' %>
    </div>

    <div class="input email required user_email">
      <%= f.label class: "email required control-label"  do %>
        <abbr title="required">*</abbr><%= t('activerecord.attributes.user.email') %></label>
      <% end %>
      <%= f.email_field :email, class: 'string email required' %>
    </div>

    <div class="input password required user_password">
      <%= f.label class: "password required control-label" do %>
        <abbr title="required">*</abbr><%= t('activerecord.attributes.user.password') %></label>
      <% end %>
      <% if @minimum_password_length %>
        <em>(<%= t('min_characters') %>)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "password required" %>
    </div>

    <div class="input password required user_password_confirmation">
      <%= f.label class: 'password required control-label' do %>
        <abbr title="required">*</abbr><%= t('activerecord.attributes.user.password_confirmation') %></label>
      <% end %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "password required" %>
    </div>
    <div class='checkBoxContainer'>
      <div class="input checkbox required user_tos_agreement">
        <div class="formControl checkbox">
          <%= f.check_box :tos_agreement %>
          <label class="hint" for="user_tos_agreement"><span><%= I18n.t('sign_up_page.agree_title') %><a target="_blank" href="<%= tos_path %>"><%= I18n.t('sign_up_page.terms_of_service') %></a></span></label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions actions spacedTop">
    <%= button_tag t('sign_up'), id: 'submit_button', type: 'button',  class: 'btn button buttonYellow large buttonDisabled'%>
  </div>
<% end %>
<script type="text/javascript">
  $(function(){
    $('#submit_button').click(function(){
      if(!$(this).hasClass('buttonDisabled')){
        $('#new_user').submit();
      }
    })
    $('#user_tos_agreement').click(function(){
      $('#submit_button').toggleClass('buttonDisabled');
    })
  })
</script>
